.logo__main {
    margin: auto;
    padding: 1em;
}

.title-intro {
    margin: auto;
    text-align: center;
    padding: 1em;
}
.text-box-main {
    padding: 0 0 2em 0;
    margin: 3.5em auto 1em auto;
    text-align: center;
    max-width: 50%;
}

.text-box-main > p:last-of-type {
    margin-bottom: 6em;
}

@media screen and (min-width: 1000px) {

    .main {
        background-image: url(assets/bg-main.png);
    }

}

@media screen and (max-width: 1000px) {

    .main {
        background-image: url(assets/bg-main.png);
        background-position: 20%;
    }

}