/* tipografia */

/* define a fonte, cor, line height padrao */
.text {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-style: italic;
    color: white;
    margin: 5px;
}
/* define font sizes */
.title-text {
    font-size: 2.5em;
    line-height: 3em;
}
.medium-text {
    font-size: 2em;
}
.small-text {
    font-size: 1.4em;
}
.intro {
    -webkit-text-stroke: 1.5px black;
    -moz-text-stroke: 1.5px black;
    text-shadow: 5px 6px 5px black;
    line-height: 1em;
}

/* ------- layout ------- */

body {
    margin: 0;
    background-image: url("assets/bg-main.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 9vh;
    background: #6C757D;
    overflow: hidden;
}
.header-logo {
    margin-left: 1.1em;
}
.text-links {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-wrap: normal;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    transition: 300ms;
    color: #4A5156;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 81vh;
    width: 100%;
}
.logo-main {
    width: auto;
    height: auto;
    margin: 2em auto 0 auto;
}
.title-intro {
    margin-top: 0;
    text-align: center;
}
.text-box-main {
    text-align: center;
    width: 40%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
.footer {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    align-items: center;
    width: 100%;
    height: 9vh;
    background: #6C757D;
    overflow: hidden;
    justify-content: flex-end;
    gap: 1em;
}
.footer a {
    margin-right: 2em;
}