:root {
    --text-color: white;
    --primary-color: #6C757D;
    --accent-color: #495057;
    --text-font: 'Rubik', sans-serif;
}

.title-text {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
.medium-text {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
}
.small-text {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
.smaller-text {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}
.intro {
    -webkit-text-stroke: 1px black;
    -moz-text-stroke: 1px black;
    text-shadow: 5px 6px 5px black;
}

/* ------------------- header ---------------------- */

body {
    margin: 0;
    background-color: silver;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    position: sticky;
    top: 0;
}
.header__logo {
    display: flex;
    align-items: center;
    max-width: 30%;
    margin: 0 0 0 2em;
    padding: 0;
}

.header__logo-small {
    display: none;
}

.header__menu {
    display: flex;
    width: 70%;
    justify-content: center;
    position: sticky;
    top: 0;
}

.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.header__text {
    font-family: var(--text-font);
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 700;
    font-style: italic;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover,
a:focus {
    transition: 300ms;
    color: var(--accent-color);
}

/* ------------------- main ---------------------- */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ------------------- footer ---------------------- */

.footer {
    margin-top: 1em;
    background: var(--accent-color);
    display: flex;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%;
    padding: .5em;
}

.footer__links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 3em;
}

.footer__links > a {
    padding: .5em;
    border-radius: .2em;
}

.footer__links > a:hover,
.footer__links > a:focus {
    background-color: var(--primary-color);
}

/* --------------- responsividade -__- ------------------ */

@media screen and (min-width: 1000px) {

    .main {
        transition: 300ms;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

}

@media screen and (max-width: 1000px) {
    .header {
        min-height: 9vh;
    }

    .header__logo {
        display: none;
    }

    .header__logo-small {
        display: flex;
        align-items: center;
        max-width: 20%;
        margin: 0 0 0 .5em;
        padding: .2em;
        border-radius: .2em;
    }

    .header__logo-small:hover,
    .header__logo-small:focus {
        background-color: var(--accent-color);
    }

    .header__menu {
        display: flex;
        width: 80%;
        justify-content: center;
        text-align: center;
    }

    .header__list {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .header__list > li {
        display: inline-block;
        padding: .6em;
    }

    .header__text {
        font-size: .8rem;
    }

    .main {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .logo__main {
        padding: 2em 0 0 0;
    }

    .text-box-main {
        max-width: 100%;
        padding: 0 1.5em 0 1.5em;
    }

    .footer__links {
        width: 100%;
        margin: 0;
    }

}