body {
    margin: 0;
    padding: 0;
    background-image: url("assets/bg-main.png");
    background-position: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 9vh;
    background: #6C757D;
}
.header-logo {
    margin-left: 1.1em;
}
.text-links {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    transition: 300ms;
    color: #4A5156;
}
.title-text {
    font-family: 'Inter', sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    font-style: italic;
    line-height: 3em;
    color: white;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 81vh;
    width: 100%;
}
.logo-main {
    width: auto;
    height: 48vh;
    margin: 0 auto;
    margin-top: 2.5em;
    margin-bottom: 0;
}
.title-intro {
    margin-top: 0;
    text-align: center;
    height: 130vh;
    font-family: 'Inter', sans-serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bolder;
    color: white;
}
.title-intro > h1 {
    /* -webkit-text-stroke: 2px black; */
    text-shadow: 5px 6px 5px #000000;
}

